requests
pydantic
python-dotenv
pandas
tqdm
pymongo
tushare
openai
tabulate
schedule
python-dateutil
wxPython
pyexecjs
beautifulsoup4
trafilatura
langchain-community
duckduckgo-search
chardet
lxml_html_clean
lark-oapi>=1.4.8
duckduckgo_search>=8.0.4
ipykernel